.main-content-marquee {
  height: 140px;
  background: rgba(42, 39, 34, 0.5);
  display: flex;
  align-items: center;
  backdrop-filter: blur(5px);
  overflow: hidden;

  @include desktop-fhd {
    height: 7.292vw;
  }

  @include tablet {
    display: none;
  }

  @include mobile {
    display: none;
  }
}

.main-content-marquee-section-container {
  display: flex;
  width: 100%;
  user-select: none;

  gap: 78px;

  @include desktop-fhd {
    img {
      height: 2.5vw;
    }
    gap: 4.063vw;
  }
}

.main-content-marquee-section-container-content {
  display: flex;

  flex-shrink: 0;
  gap: 78px;
  justify-content: space-around;
  min-width: 100%;

  @include desktop-fhd {
    gap: 4.063vw;
  }
}


.main-content-marquee-section-container-content-item:hover {
  transform: scale(1.25);
}

.mq {
  animation: scroll 20s linear infinite;
}

.main-content-marquee-section-container:hover .mq {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(calc(-100% - 78px));
  }
}

@include desktop-fhd {
  @keyframes scroll {
    from {
      transform: translateX(0);
    }
    to {
      transform: translateX(calc(-100% - 4.063vw));
    }
  }
}


.mm {
  display: none;
  height: 140px;
  background: rgba(42, 39, 34, 0.50);
  backdrop-filter: blur(5px);
  flex-wrap: wrap;
  position: relative;
  z-index: 15;
  margin-top: 60px;


  @include tablet {
    display: flex;
  }

  @include mobile {
    display: flex;
    height: 223px;
    img {
      height: clamp(32px, 6.25vw, 50px);
    }
  }
}

.mm-cc {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33%;

  @include mobile {
    width: 50%;
    transition: width 0.3s ease;
  }
}