&-button {
  margin-top: 64px;
  height: 80px;

  @include desktop-fhd{
    margin-top: 3.333vw;
    height: 4.167vw;
  }

  @include small-desktop {
    margin-top: 3.81vw;
  }
  @include laptop {
    margin-top: 3.81vw;
  }

  img{
    @include desktop-fhd{
      height: 4.167vw;
    }
  }

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;

    display: flex;
    justify-content: center;
    align-items: center;
  }

  span {
    position: absolute;

    color: #12100c;
    font-family: "Satoshi";

    font-size: 24px;
    font-weight: 700;

    letter-spacing: 0.1em;

    @include desktop-fhd{
      font-size: 1.25vw;
    }
  }
}
