.main-content-section-right {
  position: relative;

  width: auto;
  height: 100%;

  padding-top: 212px;

  @include desktop-fhd {
    flex: 1;

    padding-top: 11.042vw;
  }

  @include tablet {
    padding-top: clamp(180px, 20.703vw, 212px);
  }

  @include mobile {
    display: none;
  }

  &-girl {
    margin-left: 160px;

    position: relative;
    z-index: 2;

    width: 100%;
    max-width: 938px;
    max-height: 1018px;

    @include desktop-fhd {
      max-width: 48.854vw;
      max-height: 53.021vw;

      margin-left: 8.333vw;
    }

    @include small-desktop {
      max-width: 55.833vw;
      max-height: 60.595vw;

      margin-left: 9.524vw;
    }

    @include laptop {
      max-width: 55.833vw;
      max-height: 60.595vw;

      margin-left: 9.524vw;
    }

    @include small-laptop {
      max-width: 55.833vw;
      max-height: 60.595vw;

      margin-left: clamp(120px, 9.524vw, 125px);
    }

    @include tablet {
      position: absolute;

      margin: 0;

      left: 121px;

      width: 571.8px;
      height: 620.4px;
    }
  }

  &-background {
    margin-left: 154px;

    position: absolute;
    z-index: 1;

    width: 100%;
    max-width: 868px;
    max-height: 887px;

    @include desktop-fhd {
      max-width: 45.208vw;
      max-height: 46.198vw;

      margin-left: 8.021vw;
    }

    @include small-desktop {
      max-width: 51.667vw;
      max-height: 52.798vw;

      margin-left: 9.167vw;
    }

    @include laptop {
      max-width: 51.667vw;
      max-height: 52.798vw;

      margin-left: 9.167vw;
    }

    @include small-laptop {
      max-width: 51.667vw;
      max-height: 52.798vw;

      margin-left: clamp(115px, 9.167vw, 120px);
    }

    @include tablet {
      margin: 0;

      left: 116px;

      width: 529px;
      height: 540.6px;
    }
  }

  &-element {

    &-circle {
      position: absolute;
      z-index: 3;

      left: 71.415%;
      top: 36.577%;

      width: 8px;
      height: 8px;

      background: $white;
      border-radius: 9999px;

      @include desktop-fhd {
        width: 0.417vw;
        height: 0.417vw;
      }

      @include small-desktop {
        left: 44.167vw;
        top: clamp(412px, 26.756vw, 449px);
      }

      @include laptop {
        left: 44.167vw;
        top: clamp(390px, 28.611vw, 412px);
      }

      @include small-laptop {
        left: clamp(472px, 44.167vw, 570px);
        top: clamp(352px, 30.469vw, 390px);
      }

      @include tablet {
        left: 472px;
        top: clamp(322px, 34.375vw, 352px);
      }
    }

    &-line {
      position: absolute;
      z-index: 3;

      top: 36.863%;
      left: 71.8%;

      width: 13.956%;
      height: 28.644%;

      border-top: 1px solid white;
      border-right: 1px solid white;

      @include desktop-fhd {
        border-top: 0.052vw solid white;
        border-right: 0.052vw solid white;
      }

      @include small-desktop {
        top: clamp(415px, 26.964vw, 453px);
        left: 44.405vw;
      }

      @include laptop {
        top: clamp(393.5px, 28.819vw, 415px);
        left: 44.375vw;
      }

      @include small-laptop {
        top: clamp(355.5px, 30.742vw, 393.5px);
        left: clamp(480px, 44.375vw, 570px);
      }

      @include tablet {
        width: 88px;
        height: 238px;

        top: clamp(325.5px, 34.668vw, 355.5px);
        left: clamp(480px, 44.375vw, 570px);
      }
    }

    &-text-block {
      display: flex;
      justify-content: space-between;
      align-items: center;

      position: absolute;
      z-index: 3;

      padding: 0 32px;

      width: 318px;
      height: 136px;

      border-radius: 24px;
      background: $background-white-color;

      left: 70.55%;
      top: 65.424%;

      @include desktop-fhd {
        width: 16.563vw;
        height: 7.083vw;

        padding: 0 1.667vw;

        border-radius: 1.25vw;
      }

      @include small-desktop {
        top: 47.857vw;
        left: 43.631vw;

        width: 18.929vw;
        height: 8.095vw;

        padding: 0 1.905vw;
      }

      @include laptop {
        top: 47.857vw;
        left: 43.631vw;

        width: 18.929vw;
        height: 8.095vw;

        padding: 0 1.905vw;
      }

      @include small-laptop {
        top: clamp(535px, 47.857vw, 615px);
        left: clamp(475px, 43.631vw, 560px);

        width: 18.929vw;
        height: 8.095vw;

        padding: 0 1.905vw;
      }

      @include tablet {
        top: clamp(535px, 47.857vw, 615px);
        left: clamp(475px, 43.631vw, 560px);

        width: 18.929vw;
        height: 8.095vw;

        padding: 0 1.905vw;
      }

      &-info {

        &:not(:last-child) {
          padding-right: 8px;

          @include desktop-fhd {
            padding-right: 0.417vw;
          }
        }

        &-title {
          color: $font-light-dark;

          font-family: $Satoshi-font;
          font-weight: 700;
          font-size: 18px;
          letter-spacing: 0.06em;

          padding-bottom: 16px;

          text-transform: uppercase;

          @include desktop-fhd {
            font-size: 0.938vw;

            padding-bottom: 0.833vw;
          }

          @include small-desktop {
            font-size: 1.071vw;
          }

          @include laptop {
            font-size: 1.073vw;
          }

          @include small-laptop {
            font-size: 1.073vw;
          }

          @include tablet {
            font-size: 1.073vw;

            padding-bottom: 1.563vw;
          }
        }

        &-text {
          color: $span-dark;

          font-family: $Angel-font;
          font-weight: 400;
          font-size: 32px;
          letter-spacing: 0.06em;

          @include desktop-fhd {
            font-size: 1.667vw;
          }

          @include small-desktop {
            font-size: 1.905vw;
          }

          @include laptop {
            font-size: 1.906vw;
          }

          @include small-laptop {
            font-size: 1.906vw;
          }

          @include tablet {
            font-size: 1.906vw;
          }
        }
      }
    }

    &-vector {
      position: absolute;
      z-index: 3;

      left: 94.611%;
      top: 76.328%;

      @include desktop-fhd {
        width: 1.042vw;
        height: 1.198vw;
      }

      @include small-desktop {
        left: 58.512vw;
        top: 55.833vw;
      }

      @include laptop {
        left: 58.512vw;
        top: 55.833vw;
      }

      @include small-laptop {
        left: clamp(620px, 58.512vw, 750px);
        top: clamp(618px, 55.833vw, 720px);
      }

      @include tablet {
        left: clamp(620px, 58.512vw, 750px);
        top: clamp(613px, 60.352vw, 618px);
      }
    }
  }
}