.main-content-section-right {

  position: relative;
  height: 100%;
  width: auto;
  //margin-left: 160px;

  padding-top: 212px;

  .div {
    margin-left: 160px;

    position: relative;
    z-index: 10;
    width: 100%;
    max-width: 938px;
    max-height: 1018px;
  }

  .bg {
    margin-left: 154px;

    position: absolute;
    z-index: 10;
    width: 100%;
    max-width: 868px;
    max-height: 887px;
  }

  &-element {
    &-circle {
      position: absolute;
      z-index: 10;

      left: 71.3%;
      top: 36.6%;

      width: 8px;
      height: 8px;
      background: white;
      border-radius: 9999px;

      @include small-desktop {
        top: 16.4vw;
        left: 31.7vw;
      }

      @include laptop {
        left: 61.54%;
        top: 29.32%;
      }
    }

    &-line {
      position: absolute;
      z-index: 10;

      top: 36.87%;
      left: 71.7%;

      width: 13.956%;
      height: 28.318%;

      border-top: 1px solid white;
      border-right: 1px solid white;

      @include small-desktop {
        top: 16.6vw;
        left: 62.4%;
      }

      @include laptop {
        top: 29.8%;
        left: 62.44%;
      }
    }

    &-text-block {
      display: flex;
      justify-content: space-between;
      align-items: center;

      position: absolute;
      z-index: 10;

      padding: 0px 32px;

      width: 318px;
      height: 136px;

      border-radius: 24px;
      background: #fff4eb;

      left: 70.6%;
      top: 65.4%;

      @include small-desktop {
        top: 66.4%;
        left: 58.5%;
        width: 19vw;
        height: 8.101vw;
        padding: 0 1.906vw;
      }

      @include laptop {
        left: 59.3%;
        top: 67.2%;
        width: 19vw;
        height: 8.101vw;
        padding: 0 1.906vw;
      }

      &-info {

        &:not(:last-child) {
          padding-right: 8px;
        }

        &-title {
          color: rgba(18, 16, 12, 0.5);
          font-family: "Satoshi";
          font-weight: 700;
          font-size: 18px;

          letter-spacing: 0.06em;
          padding-bottom: 16px;

          text-transform: uppercase;
          //text-align: left;

          @include small-desktop {
            font-size: 1.073vw;
          }

          @include laptop {
            font-size: 1.073vw;
          }
        }

        &-text {
          color: #12100c;
          font-family: "Angel rhapsody";
          font-weight: 400;
          font-size: 32px;
          letter-spacing: 0.06em;
          //text-align: left;
          @include small-desktop {
            font-size: 1.906vw;
          }
          @include laptop {
            font-size: 1.906vw;
          }
        }
      }
    }

    &-vector {
      position: absolute;
      left: 94.6%;
      top: 76.4%;
      z-index: 10;
    }
  }
}

