.header-content-section-left{

  &-button {
    margin-top: 64px;
    height: 80px;

    @include small-desktop{
      margin-top: 3.81vw;
    }
    @include laptop{
      margin-top: 3.81vw;
    }
  }

  &-button-marker {
    margin-bottom: 32px;

    @include small-desktop{
      margin-bottom: 31px;
    }
  }

  &-button-form {
    margin-left: 3px;
    margin-right: 3px;

    @include laptop{
      width: 22.238vw;
    }
  }

  &-button-markers {
    margin-bottom: 32px;
  }

  &-button-overlay-text {
    position: relative;
    max-width: 188px;
    max-height: 32px;

    top: -60px;
    left: 89px;

    color: #12100c;
    font-family: "Satoshi";

    font-size: 24px;
    font-weight: 700;

    letter-spacing: 0.1em;

    @include laptop{
      left: 23.5%;
      font-size: 1.668vw;
    }
  }

  &-button-gradient {
    position: relative;

    top: -116px;
    left: 54px;

    @include laptop{
      left: 15.5%;
    }
  }

  &-button-gradients {
    position: relative;

    top: -116px;
    left: 58px;

    @include laptop{
      left: 15.5%;
    }
  }
}