/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.background {
  //position: absolute;
  //  z-index: -1;
  //width: 100%;
  //height: auto;
  //background: url("../../../images/background-header.png");
  //background-size: cover;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.header {
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  z-index: 1;

  @include desktop-fhd {
    top: 2.604vw;
  }

  &-navigation-bar {
    height: 104px;
    border-radius: 32px;
    background: rgba(42, 39, 34, 0.50);
    backdrop-filter: blur(5px);

    gap: 120px;
    padding: 0 11.053%;

    display: flex;
    align-items: center;
    justify-content: center;

    white-space: nowrap;

    @include desktop-fhd {
      gap: 6.25vw;
      padding: 0 8.75vw;
      height: 5.417vw;
      border-radius: 1.667vw;
    }

    @include laptop {
      gap: 8.333vw;
      padding: 0 11.667vw;
    }

    @include small-laptop {
      gap: 8.333vw;
      padding: 0 11.667vw;
    }

    @include tablet {
      gap: 8.333vw;
      padding: 0 11.667vw;
    }

    &-left {
      display: flex;

      gap: 52px;

      color: rgba(255, 244, 235, 0.8);
      font-family: "Satoshi";
      font-weight: 700;
      font-size: 18px;
      line-height: 1.33;
      letter-spacing: 0.08em;
      text-align: left;
      //text-transform: uppercase;

      @include desktop-fhd {
        font-size: 0.938vw;
        gap: 2.708vw;
      }

      @include laptop {
        gap: 3.611vw;
        font-size: 1.25vw;
      }

      @include small-laptop {
        gap: 3.611vw;
        font-size: 1.25vw;
      }

      @include tablet {
        gap: 3.611vw;
        font-size: 1.25vw;
      }
    }

    &-center-button {
      background-color: transparent;
      border: none;
      cursor: pointer;

      padding: 0;
      margin: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      @include desktop-fhd {
        img {
          height: 3.646vw;
          width: 3.646vw;
        }
      }
      @include small-laptop {
        img {
          height: 5.469vw;
          width: 5.469vw;
        }
      }

      @include tablet {
        img {
          height: 5.469vw;
          width: 5.469vw;
        }
      }
    }

    &-right {
      display: flex;

      gap: 52px;

      color: rgba(255, 244, 235, 0.8);
      font-family: "Satoshi";
      font-weight: 700;
      font-size: 18px;
      line-height: 1.33;
      letter-spacing: 0.08em;
      text-align: left;
      //text-transform: uppercase;

      @include desktop-fhd {
        font-size: 0.938vw;
        gap: 2.708vw;
      }

      @include laptop {
        gap: 3.611vw;
        font-size: 1.25vw;
      }

      @include small-laptop {
        gap: 3.611vw;
        font-size: 1.25vw;
      }

      @include tablet {
        gap: 3.611vw;
        font-size: 1.25vw;
      }
    }
  }
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/