/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.background {
  //position: absolute;
  //  z-index: -1;
  //width: 100%;
  //height: auto;
  //background: url("../../../images/background-header.png");
  //background-size: cover;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.header {
  position: absolute;
  z-index: 1;

  top: 50px;
  left: 0;
  right: 0;

  @include desktop-fhd {
    top: 2.604vw;
  }

  @include mobile {
    top: clamp(24px, 6.51vw, 50px);
  }

  &-navigation-bar {
    height: 104px;
    border-radius: 32px;
    background: rgba(42, 39, 34, 0.50);
    backdrop-filter: blur(5px);

    gap: 120px;
    padding: 0 11.053%;

    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    @include desktop-fhd {
      gap: 6.25vw;
      padding: 0 8.75vw;
      height: 5.417vw;
      border-radius: 1.667vw;
    }

    @include laptop {
      gap: 8.333vw;
      padding: 0 11.667vw;
    }

    @include small-laptop {
      gap: 8.333vw;
      padding: 0 11.667vw;
    }

    @include tablet {
      gap: 8.333vw;
      padding: 0 11.667vw;
    }

    @include mobile {
      padding: 0 clamp(24px, 6.117vw, 85px);
      height: clamp(72px, 13.542vw, 104px);
      border-radius: clamp(24px, 4.167vw, 32px);
      justify-content: normal;
    }

    &-left {
      display: flex;

      gap: 52px;

      color: rgba(255, 244, 235, 0.8);
      font-family: $Satoshi-font;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.33;
      letter-spacing: 0.08em;
      text-align: left;
      //text-transform: uppercase;

      @include desktop-fhd {
        gap: 2.708vw;
        font-size: 0.938vw;
      }

      @include laptop {
        gap: 3.611vw;
        font-size: 1.25vw;
      }

      @include small-laptop {
        gap: 3.611vw;
        font-size: 1.25vw;
      }

      @include tablet {
        gap: 3.611vw;
        font-size: clamp(10px, 1.25vw, 15px);
      }

      @include mobile {
        display: none;
      }
    }

    &-center-button {
      background-color: transparent;
      border: none;
      cursor: pointer;

      padding: 0;
      margin: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      @include desktop-fhd {
        img {
          height: 3.646vw;
          width: 3.646vw;
        }
      }

      @include small-laptop {
        img {
          height: 5.469vw;
          width: 5.469vw;
        }
      }

      @include tablet {
        img {
          height: 5.469vw;
          width: 5.469vw;
        }
      }

      @include mobile {
        display: none;
      }
    }

    &-right {
      display: flex;

      gap: 52px;

      color: rgba(255, 244, 235, 0.8);
      font-family: $Satoshi-font;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.33;
      letter-spacing: 0.08em;
      text-align: left;
      //text-transform: uppercase;

      @include desktop-fhd {
        gap: 2.708vw;
        font-size: 0.938vw;
      }

      @include laptop {
        gap: 3.611vw;
        font-size: 1.25vw;
      }

      @include small-laptop {
        gap: 3.611vw;
        font-size: 1.25vw;
      }

      @include tablet {
        gap: 3.611vw;
        font-size: clamp(10px, 1.25vw, 15px);
      }

      @include mobile {
        display: none;
      }
    }

    &-menu {
      display: none;

      background-color: transparent;
      border: none;
      cursor: pointer;

      padding: 0;
      margin: 0;

      @include mobile {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;

        &-star {
          height: clamp(40px, 5.469vw, 45px);
          width: clamp(40px, 5.469vw, 45px);
        }

        .line {
          height: clamp(32px, 5.469vw, 42px);
          width: clamp(32px, 5.469vw, 42px);
        }
      }
    }
  }
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/