/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.background {
  //position: absolute;
  //  z-index: -1;
  //width: 100%;
  //height: auto;
  //background: url("../../../images/background-header.png");
  //background-size: cover;
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/

.header {
  position: absolute;
  z-index: 5;

  top: 50px;
  left: 0;
  right: 0;

  @include desktop-fhd {
    top: 2.604vw;
  }

  @include mobile {
    top: clamp(24px, 6.51vw, 50px);
  }

  &-navigation-bar {
    height: 104px;
    border-radius: 32px;
    background: rgba(42, 39, 34, 0.50);
    backdrop-filter: blur(5px);

    gap: 120px;
    padding: 0 11.053%;

    display: flex;
    align-items: center;
    justify-content: center;
    white-space: nowrap;

    @include desktop-fhd {
      gap: 6.25vw;
      padding: 0 8.75vw;
      height: 5.417vw;
      border-radius: 1.667vw;
    }

    @include laptop {
      gap: 8.333vw;
      padding: 0 11.667vw;
    }

    @include small-laptop {
      gap: 8.333vw;
      padding: 0 11.667vw;
    }

    @include tablet {
      gap: 8.333vw;
      padding: 0 11.667vw;
    }

    @include mobile {
      padding: 0 clamp(24px, 6.117vw, 85px);
      height: clamp(72px, 13.542vw, 104px);
      border-radius: clamp(24px, 4.167vw, 32px);
      justify-content: space-between;
    }

    &-left {
      display: flex;

      gap: 52px;

      color: rgba(255, 244, 235, 0.8);
      font-family: $Satoshi-font;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.33;
      letter-spacing: 0.08em;
      text-align: left;
      //text-transform: uppercase;

      a:hover, a:focus{
        color: #DB9F6A;
        transition: color 0.3s ease;
      }

      @include desktop-fhd {
        gap: 2.708vw;
        font-size: 0.938vw;
      }

      @include laptop {
        gap: 3.611vw;
        font-size: 1.25vw;
      }

      @include small-laptop {
        gap: 3.611vw;
        font-size: 1.25vw;
      }

      @include tablet {
        gap: 3.611vw;
        font-size: clamp(10px, 1.25vw, 15px);
      }

      @include mobile {
        display: none;
      }
    }

    &-center-button {
      background-color: transparent;
      border: none;
      outline: none;
      cursor: pointer;

      padding: 0;
      margin: 0;

      display: flex;
      align-items: center;
      justify-content: center;

      &:hover .svg-path-center-button,
      &:focus .svg-path-center-button {
        fill: #8E623C; /* Новий колір для SVG */
        transition: fill 0.3s ease; /* Додаємо плавний перехід */
      }

      @include desktop-fhd {
        img {
          height: 3.646vw;
          width: 3.646vw;
        }
      }

      @include small-laptop {
        img {
          height: 5.469vw;
          width: 5.469vw;
        }
      }

      @include tablet {
        img {
          height: 5.469vw;
          width: 5.469vw;
        }
      }

      @include mobile {
        svg {
          height: clamp(40px, 5.469vw, 45px);
          width: clamp(40px, 5.469vw, 45px);
        }
      }
    }

    &-mobile-open-button {
      display: none;

      @include mobile {
        background-color: transparent;
        border: none;
        outline: none;
        cursor: pointer;

        padding: 0;
        margin: 0;

        display: flex;
        align-items: center;
        justify-content: center;

        &:hover, &:focus{
          .svg-path{
            fill: #DB9F6A;
          }
        }

        &-svg {
          height: clamp(32px, 5.469vw, 45px);
          width: clamp(32px, 5.469vw, 45px);


        }
      }
    }

    &-right {
      display: flex;

      gap: 52px;

      color: rgba(255, 244, 235, 0.8);
      font-family: $Satoshi-font;
      font-weight: 700;
      font-size: 18px;
      line-height: 1.33;
      letter-spacing: 0.08em;
      text-align: left;
      //text-transform: uppercase;

      a:hover, a:focus{
        color: #DB9F6A;
        transition: color 0.3s ease;
      }

      @include desktop-fhd {
        gap: 2.708vw;
        font-size: 0.938vw;
      }

      @include laptop {
        gap: 3.611vw;
        font-size: 1.25vw;
      }

      @include small-laptop {
        gap: 3.611vw;
        font-size: 1.25vw;
      }

      @include tablet {
        gap: 3.611vw;
        font-size: clamp(10px, 1.25vw, 15px);
      }

      @include mobile {
        display: none;
      }
    }
  }

  .header-navigation-bar-mobile-burger {
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(18, 16, 11, 255);
    z-index: 9999;
    padding: 60px;
    opacity: 0; /* Початкова прозорість */
    visibility: hidden; /* Приховано елемент */
    transform: translateX(100%); /* Зміщення для анімації */
    transition: opacity 0.3s ease, transform 0.3s ease, visibility 0s 0.3s; /* Плавні переходи */


    button{
      position: absolute;
      top: 4.736%;
      left: 86.964%;
    }
  }

  .header-navigation-bar-mobile-burger.is-open {
    opacity: 1; /* Видимість при відкритті */
    visibility: visible; /* Робимо видимим елемент */
    transform: translateX(0); /* Повертаємо на місце */
    transition: opacity 0.3s ease, transform 0.3s ease; /* Плавний перехід */
  }

  .header-navigation-bar-mobile-menu {
    //list-style: none;
    padding: 0;
    margin: 0;
    text-align: center;

    font-family: $Angel-font;
    font-weight: 200;

  }

  .header-navigation-bar-mobile-menu li {
    padding: 25px 0;
  }

  .header-navigation-bar-mobile-menu a {
    color: #fff;
    text-decoration: none;
    font-size: 80px;

  @include mobile{
    font-size: clamp(65px, 10.417vw, 80px);
  }

  }

  .header-navigation-bar-mobile-close-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 40px;
  }
}

/**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**//**/