.header {
  &-content-section {
    &-flex {
      display: flex;
    }

    &-left {
      margin-top: 140px;
      width: 481px;

      word-wrap: break-word;

      @include small-desktop {
        margin-right: 9.524vw;
        margin-top: 8.333vw;
      }

      @include laptop {
        margin-right: 9.524vw;
        margin-top: 8.333vw;
      }

      &-title {
        font-family: "Angel rhapsody";
        font-size: 112px;
        font-weight: 400;

        letter-spacing: -0.02em;
        line-height: 1;

        text-align: left;
        margin: 0;

        @include small-desktop {
          font-size: 6.667vw;
        }
        @include laptop {
          font-size: 6.667vw;
        }
      }

      @import "section-left/button";

      @import "section-left/schedule";
    }

    @import "section-right/section-right";
  }
}

