.main {

  overflow: hidden;

  .container {
    display: flex;
  }

  &-content-section {
    background: url("../../../images/background-header.png");

    &-left {
      padding-top: 294px;
      max-width: 481px;
      word-wrap: break-word;

      @import "content/section/section-left/title";

      @import "content/section/section-left/button";

      @import "content/section/section-left/schedule";

      @include desktop-fhd {
        padding-top: 15.313vw;
        max-width: 25.052vw;
      }

      @include small-desktop {
        max-width: 28.631vw;
      }

      @include laptop {
        max-width: 28.631vw;
      }

      @include small-laptop {
        padding-top: 22.969vw;
        max-width: clamp(320px, 28.631vw, 370px);
      }

      @include tablet {
        padding-top: clamp(200px, 22.969vw, 240px);
        max-width: 320px;
      }

      @include mobile {
        padding-top: clamp(136px, 28.646vw, 220px);
        max-width: clamp(320px, 78.125vw, 600px);
      }
    }

    @import "content/section/section-right/section-right";

    @import "content/section/marquee/marquee";

  }

  &-content-section-tattoo-club {
    padding-top: 160px;

    background: url("../../../images/background-main.png");
    background-size: cover;

    h2 {
      position: relative;
      z-index: 1;

      color: $background-white-color;
      font-size: 64px;
      font-family: $Angel-font;
      font-weight: 400;
      letter-spacing: -2px;
      line-height: 1;
    }

    @import "content/section-tattoo-club/tattoo-club";

  }
}