.main {

  .container{
    display: flex;
  }

  &-content-section {
    //position: relative;
    //padding-top: 294px;
    background: url("../../../images/background-header.png");

    &-left {
      padding-top: 294px;
      max-width: 481px;
      width: 100%;
      word-wrap: break-word;

      @import "content/section-left/title";

      @import "content/section-left/button";

      @import "content/section-left/schedule";

      @include desktop-fhd{
        padding-top: 15.313vw;
        max-width: 25.052vw;
      }

      @include small-desktop{
        max-width: 28.631vw;
        width: 100%;
        //min-width: 420px;
      }

      @include laptop{
        width: 28.631vw;
        max-width: 370px;
      }
    }

    @import "content/section-right/section-right";

    @import "content/marquee/marquee";

  }
}


.accordion {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
}

.accordion-item {
  border-bottom: 1px solid #ccc;
}

.accordion-title {
  padding: 15px;
  background-color: #f1f1f1;
  cursor: pointer;
  font-weight: bold;
}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.3s ease;
  padding: 0 15px;
  background-color: #fafafa;
}

.accordion-content p {
  margin: 10px 0;
}


.main-top {
  //position: absolute;
  //z-index: -1;
  width: 100%;
  height: auto; /* Автоматична висота, але варто замінити на мінімальну висоту */
  //min-height: 100vh; /* Висота фону на всю висоту вікна */
  background: url("../../../images/main.png");
  //background-size: cover;
}


.main {
  .main-top {
    padding-top: 160px;
    background: url("../../../images/main.png");
    background-size: cover;
  }


  .main-left {
    position: relative;
    padding: 52px 52px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 32px;
    background-color: #1E1C17;

    &__image {
      position: relative;
      width: calc(100% - 40px);
      z-index: 2;

      img {
        width: 100%;
        height: 100%;
        object-fit: contain;
        object-position: bottom;
      }
    }

    &__decor {
      position: absolute;
      bottom: 0;
      height: 60%;
      width: 100%;
      border-radius: 0 0 32px 32px;
      background-image: url("../images/dotsackground.png");
      background-size: cover;

      &::after {
        position: absolute;
        content: '';
        top: -50px;
        width: 100%;
        height: 45%;
        background-image: linear-gradient(180.00deg, rgb(30, 28, 23), rgba(30, 28, 23, 0) 100%);
      }
    }

    .h2 {
      position: relative;
      color: #FFFFFF;
      font-size: 64px;
      font-family: "Angel rhapsody";
      font-weight: 400;
      letter-spacing: -2px;
      line-height: 1;
      //line-height: normal;
      z-index: 2;
    }
  }
}

.center-top {

  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background-color: #FFF4EB;
}

.dd {
  color: rgb(18, 16, 12);
  font-family: Angel rhapsody;
  font-size: 32px;
  font-weight: 400;
  letter-spacing: 0.06em;
  position: absolute;
  right: 40px;
  bottom: 40px;
}

//.dollar {
//  color: rgb(18, 16, 12);
//  font-family: Angel rhapsody;
//  font-size: 24px;
//  font-weight: 400;
//  line-height: 0px;
//  letter-spacing: 0.06em;
//  text-align: right;
//}


.center {

  position: absolute;
  top: 307px;
  left: 485px;
  z-index: 12;
  fill: #1E1C17

}


.center-botton {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 32px;
  background: #FFF4EB;

  .pp {
    color: rgb(18, 16, 12);
    font-family: Angel rhapsody;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 0.06em;
    position: absolute;
    right: 40px;
    bottom: 40px;
  }

  .dollar {
    color: rgb(18, 16, 12);
    font-family: Angel rhapsody;
    font-size: 24px;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 0.06em;
    text-align: right;
  }
}

.main-right {
  //position: absolute;
  display: flex;
  //left: 68%;
  position: relative;

  img {
    position: absolute;
  }
}

.rec {
  width: 485px;
  height: 135px;
  background: linear-gradient(180.00deg, rgb(30, 28, 23) 9.214%, rgba(30, 28, 23, 0) 100%);
  position: absolute;
  transform: rotate(-180.00deg);
  z-index: 0;
  top: 189px;
}

.h22 {
  color: #FFFFFF;
  font-size: 64px;
  font-family: "Angel rhapsody";
  width: 381px;
  letter-spacing: -2px;
  position: absolute;
  z-index: 1;
  line-height: 1;

  top: 376px;
  left: 52px;
}

.text {
  width: 381px;
  color: rgba(255, 255, 255, 0.40);
  font-family: "Satoshi Variable";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.36px;
  position: absolute;
  top: 592px;
  left: 52px;
}

.button {
  display: inline-flex;
  padding: 20px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: #DB9F6A;
  position: absolute;
  top: 670px;
  left: 52px;
  width: 255px;
  height: 64px;

  color: #483524;
  font-family: "Satoshi Variable";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.89px;
}


.grids {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 324px 368px;
  gap: 108px 32px;
  //grid-auto-flow: row;
  grid-template-areas:
    "main-left center-top main-right"
    "main-left center-botton main-right";
}

.main-left {
  grid-area: main-left;
}

.center-top {
  grid-area: center-top;
}

//.center { grid-area: center; }

.center-botton {
  grid-area: center-botton;
}

.main-right {
  grid-area: main-right;
}
