.main {
  &-content-section {
    position: relative;
    padding-top: 294px;
    background: url("../../../images/background-header.png");

    &-left{
      width: 481px;
      word-wrap: break-word;

      //@include desktop{
      //  margin-right: 160px;
      //}

      @include small-desktop {
        margin-right: 9.524vw;
        margin-top: 8.333vw;
      }

      @include laptop {
        margin-right: 9.524vw;
        margin-top: 8.333vw;
      }

      @import "content/section-left/title";

      @import "content/section-left/button";

      @import "content/section-left/schedule";
    }







    //@import "content/section-left/title";
    //
    //@import "content/section-left/button";
    //
    //@import "content/section-left/schedule";

    @import "content/section-right/section-right";

    @import "content/marquee/marquee";

  }
}













































.main-top {
  //position: absolute;
  //z-index: -1;
  width: 100%;
  height: auto; /* Автоматична висота, але варто замінити на мінімальну висоту */
  //min-height: 100vh; /* Висота фону на всю висоту вікна */
  background: url("../../../images/main.png");
  //background-size: cover;
}


.main {
  .main-top {
    //display: flex;
    //position: absolute;
    //z-index: -1;
    width: 100%;
    height: auto; /* Автоматична висота, але варто замінити на мінімальну висоту */
    //min-height: 100vh; /* Висота фону на всю висоту вікна */
    background: url("../../../images/main.png");
    //background-size: cover;

    .container{
      position: relative;
      top: 160px;

    }
  }


  .main-left {
    //position: absolute;
    position: relative;

    .element {
      width: 485px;
      height: 221px;

      background: linear-gradient(180.00deg, rgb(30, 28, 23), rgba(30, 28, 23, 0) 100%);
      position: absolute;
      z-index: 0;

      top: 269px;
    }

    .h2 {
      color: #FFFFFF;
      font-size: 64px;
      font-family: "Angel rhapsody";
      width: 381px;
      letter-spacing: -2px;
      position: absolute;
      z-index: 1;
      line-height: 1;

      top: 52px;
      left: 52px;
      right: 52px;
    }

    .im {
      border-color: #FFFFFF;
      position: absolute;
      top: 320px;
      z-index: -1;
    }

    .tatoo {
      position: absolute;
      top: 335px;
      left: 72px;
      right: 72px;
      z-index: 1;
    }
  }}

  .center-top {
    //left: 517px;
    //right: 517px;
    //position: absolute;
position: relative;
    left: 32px;
    top: 1px;

    width: 486px;
    height: 324px;
  }

  .cont-biba {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 485px;
    height: 324px;

    border-radius: 32px;
    background: #FFF4EB;
    position: absolute;
  }

  .dd {
    color: rgb(18, 16, 12);
    font-family: Angel rhapsody;
    font-size: 32px;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 0.06em;
    text-align: right;
    position: relative;
    margin-top: 268px;
    margin-right: 40px;
  }

  .dollar {
    color: rgb(18, 16, 12);
    font-family: Angel rhapsody;
    font-size: 24px;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 0.06em;
    text-align: right;
  }


.center{
  max-width: 550px;
  position: relative;
  top: -16px;
}


.center-botton {
  //margin-left: 517px;
  //margin-top: 432px;
  //position: absolute;
position: relative;
  left: 32px;
  top: -40px;

  .cont-snake {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 485px;
    height: 368px;
    border-radius: 32px;
    background: #FFF4EB;
    position: absolute;
  }

  .pp {
    color: rgb(18, 16, 12);
    font-family: Angel rhapsody;
    font-size: 32px;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 0.06em;
    text-align: right;
    position: relative;
    margin-top: 312px;
    margin-left: 338px;
  }

  .dollar {
    color: rgb(18, 16, 12);
    font-family: Angel rhapsody;
    font-size: 24px;
    font-weight: 400;
    line-height: 0px;
    letter-spacing: 0.06em;
    text-align: right;
  }
}

.main-right {
  //position: absolute;
  display: flex;
  //left: 68%;
  position: relative;

  img{
    position: absolute;
  }
}

.rec {
  width: 485px;
  height: 135px;
  background: linear-gradient(180.00deg, rgb(30, 28, 23) 9.214%,rgba(30, 28, 23, 0) 100%);
  position: absolute;
  transform: rotate(-180.00deg);
  z-index: 0;
  top: 189px;
}

.h22 {
  color: #FFFFFF;
  font-size: 64px;
  font-family: "Angel rhapsody";
  width: 381px;
  letter-spacing: -2px;
  position: absolute;
  z-index: 1;
  line-height: 1;

  top:376px;
  left:52px;
}

.text{
  width: 381px;
  color: rgba(255, 255, 255, 0.40);
  font-family: "Satoshi Variable";
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.36px;
  position: absolute;
  top:592px;
  left:52px;
}

.button{
  display: inline-flex;
  padding: 20px 32px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 12px;
  background: #DB9F6A;
  position: absolute;
  top:670px;
  left:52px;
  width: 255px;
  height: 64px;

  color: #483524;
  font-family: "Satoshi Variable";
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.89px;
 }


.grids {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 0fr 0fr 0fr;
  gap: 0px 0px;
  grid-auto-flow: row;
  grid-template-areas:
    "main-left center-top main-right"
    "main-left center main-right"
    "main-left center-botton main-right";
}

.main-left { grid-area: main-left; }

.center-top { grid-area: center-top; }

.center { grid-area: center; }

.center-botton { grid-area: center-botton; }

.main-right { grid-area: main-right; }
