.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.accordion {
  color: white;
  padding: 0 259px;
}

h2 {
  color: var(--Style, #FFF4EB);
  text-align: center;
  font-family: $Angel-font;
  font-size: 64px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: -1.28px;
  padding-bottom: 32px; /* Відступ від заголовка до полоски */
}

.accordion .container-accordion {
  position: relative;
}

.accordion .label {
  position: relative;
  color: #FFF;
  font-family: "Satoshi Variable";
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
  cursor: pointer;
  padding: 32px 24px;
}

.accordion .label::before {
  content: '+';
  color: white;
  position: absolute;
  top: 50%;
  right: 24px;
  font-size: 32px;
  transform: translateY(-50%);
}

.accordion .content {
  position: relative;
  max-height: 0;
  color: #FFF;
  font-family: "Satoshi Variable";
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 150%;
  letter-spacing: -0.4px;
  text-align: justify;
  overflow: hidden;
  transition: max-height 0.5s ease-in-out;
}

.accordion .content p {
  padding: 0 24px 32px;
}

/* Стилі для полоски */
.accordion .container-accordion::after {
  content: '';
  display: block;
  height: 4px; /* Висота полоски */
  background-color: grey; /* Колір полоски */
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0; /* Залишається внизу контейнера */
  transition: height 0.5s; /* Анімація висоти */
}

.accordion .container-accordion.active .content {
  height: auto; /* Висота контенту, коли активний */
}

/* Анімація для полоски при активному стані */
.accordion .container-accordion.active::after {
  height: 4px; /* Можна змінити, якщо потрібно, під час активації */
}

/* Зміна з плюса на мінус, коли активний */
.accordion .container-accordion.active .label::before {
  content: '-';
  font-size: 30px;
}

.overlay {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 20px;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
  border-radius: 5px;
  text-align: center;
  font-size: 18px;
}