


.main-content-marquee {
  height: 140px;
  background: rgba(42, 39, 34, 0.5);
  display: flex;
  align-items: center;
  margin-top: 131px;
  backdrop-filter: blur(5px);
  overflow: hidden;
}



.main-content-marquee-section-container {
  display: flex;
  width: 100%;
  user-select: none;

  gap: 78px;
}

.main-content-marquee-section-container-content {
  display: flex;

  flex-shrink: 0;
  gap: 78px;
  justify-content: space-around;
  min-width: 100%;
}


.main-content-marquee-section-container-content-item:hover {
  transform: scale(1.2);

}

.mq {
  animation: scroll 20s linear infinite;
}

.main-content-marquee-section-container:hover .mq {
  animation-play-state: paused;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}
//
//.scroll {
//  &:first-child {
//    animation: scroll-first 30s linear infinite;
//    animation-delay: -30s;
//  }
//
//  &:last-child {
//    animation: scroll-second 30s linear infinite;
//    animation-delay: -15s;
//  }
//}
//
//@keyframes scroll-first {
//  from {
//    transform: translateX(100%);
//  }
//  to {
//    transform: translateX(-100%);
//  }
//}
//
//@keyframes scroll-second {
//  from {
//    transform: translateX(0);
//  }
//  to {
//    transform: translateX(-200%);
//  }
//}




