.main-content-section-swipe {
  padding: 120px 327px 0;

  .swiper {
    height: 300px;
  }

  .swiper-wrapper {
    display: flex;
    justify-content: center; /* Центруємо елементи по горизонталі */
  }

  .swiper-slide {
    width: 132px; /* Ширина слайда */
    height: 132px; /* Висота слайда */
    transition: transform 0.3s ease; /* Додаємо анімацію для зміни розміру */
  }

  .swiper-slide-active {
    z-index: 1; /* Піднімаємо активний слайд над іншими */
  }

  /* Змінюємо розміри зображення для активного слайда */
  .swiper-slide-active img {
    width: 222px; /* Збільшуємо ширину зображення */
    height: 222px; /* Збільшуємо висоту зображення */
  }

  .swiper-slide:first-child {
    margin-left: 130px; /* Відступ для першого слайда */
  }

  .swiper-slide:last-child {
    margin-right: 130px; /* Відступ для останнього слайда */
  }

  img {
    width: 132px; /* Ширина зображення */
    height: 132px; /* Висота зображення */
    transition: transform 0.3s ease; /* Додаємо анімацію для зміни розміру зображення */
  }

  .swiper-button-next,
  .swiper-button-prev {
    height: 50px;
    width: 50px;
    font-size: 20px;
    color: bisque;
    border-radius: 50px;
    background: white;
  }
}