.main-content-section-swipe {
padding-top: 160px;

  .container{
    display: block;
  }

  h2{
    color: #FFF4EB;
    font-family: "Angel rhapsody";
    font-size: 64px;
    display: flex;
    justify-content: center;
  }

  .images {
padding-top: 105px;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
  }

  .slide-image {
    width: 132px; /* Розмір зображень за замовчуванням */
    height: 132px;
    transition: transform 0.5s ease, margin 0.5s ease;
  }

  .slide-image.active {
    transform: scale(1.68);
    margin: 0 48px;


    max-width: 222px;
    max-height: 222px;
  }



  p{
    font-size: 32px;
    color: white;
    padding: 52px;

    width: 1002px;
    height: 228px;
    background: #1E1C17;
    border-radius: 32px;
  }
}

.mySwiper{
padding-top: 77px;
}

.swiper-slide{
  display: flex;

  justify-content: center;
}

  .swiper-button-next,
  .swiper-button-prev {
    height: 50px;
    width: 50px;
    font-size: 20px;
    color: bisque;
    border-radius: 50px;
    background: white;

    top:26px;
  }
