.footer {
  background: $background-color-element-main;

  .footer-feedback {
    display: flex;
    align-items: center;
    justify-content: center;

    &-container {
      position: absolute;
      z-index: 1;

      background-image: url("../images/footer/footer.png");
      background-repeat: no-repeat;
      background-position: center;

      padding: 70px 168px 70px 216px;

      display: flex;
      gap: 64px;

      @include small-laptop {
        padding: 70px 0;
        gap: 5vw;

        width: 100%;
        max-width: calc(100% + 4.761vw);

      }

      @include tablet {
        padding: 70px 0;
        gap: 5vw;

        width: 100%;
        max-width: calc(100% + 4.761vw);
      }

      @include mobile {
        position: absolute;
        left: 0;
        right: 0;

        flex-direction: column;

        background: #FFFFFF;

        width: 100vw;

        margin-top: -580px;
        padding: 40px 24px;

        overflow-x: hidden;
      }
    }

    &-list {
      @include small-laptop {
        margin-left: auto;
      }
      @include tablet {
        margin-left: auto;
      }

      @include mobile {
        width: max-content;
      }
    }


    &-form {
      @include small-laptop {
        margin-right: auto;
      }
      @include tablet {
        margin-right: auto;
      }

      h2 {
        width: 341px;
        color: #12100C;
        font-family: $Angel-font;
        font-size: 64px;
        font-weight: 400;
        height: 128px;
        letter-spacing: -1.28px;
        line-height: 1;
      }

      &-email {
        padding-top: 32px;
        display: flex;
      }

      input {
        width: 345px;
        height: 64px;
        display: flex;
        align-items: center;
        padding: 20px 32px;
        background: #F2E4DA;
        border-radius: 12px;

        @include laptop {
          width: clamp(325px, 23.958vw, 345px);
        }
        @include small-laptop {
          width: clamp(325px, 23.958vw, 345px);
        }
        @include tablet {
          width: clamp(300px, 31.738vw, 325px);
        }
      }

      button {
        width: 179px;
        height: 64px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px 32px;
        background: #DB9F6A;
        border-radius: 12px;
        left: -48px;
        position: relative;
        border: none;

        @include laptop {
          width: clamp(168px, 12.431vw, 179px);
        }
        @include small-laptop {
          width: clamp(168px, 12.431vw, 179px);
        }
        @include tablet {
          width: clamp(155px, 16.406vw, 168px);
          left: 0;
          margin-left: -48px;

        }

        color: #483524;
        font-family: $Satoshi-font;
        font-size: 18px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        letter-spacing: 1.89px;
        text-transform: uppercase;
      }

      //p{
      //
      //}

      //.overlay {
      //  position: fixed;
      //  top: 50%;
      //  left: 50%;
      //
      //  padding: 20px;
      //
      //  transform: translate(-50%, -50%);
      //
      //  background-color: rgba(0, 0, 0, 0.8);
      //  color: $white;
      //  border-radius: 5px;
      //  text-align: center;
      //  font-size: 18px;
      //}
    }
  }

  &-elements {
    padding-top: 244px;
    display: flex;
    align-items: center;

    @include tablet {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 10px 50px;
      grid-auto-flow: row;
      grid-template-areas:
    "footer-elements-logo footer-elements-link footer-elements-link"
    "footer-elements-social-links footer-elements-link footer-elements-link";
      justify-items: center;

      .footer-elements-logo {
        grid-area: footer-elements-logo;
      }

      .footer-elements-social-links {
        grid-area: footer-elements-social-links;
      }

      .footer-elements-link {
        grid-area: footer-elements-link;
      }

    }

    @include mobile {
      align-items: normal;
      flex-direction: column;
      gap: 40px;
      padding-top: 32px;
    }

    &-logo {
      margin-right: 300px;

      @include small-desktop {
        margin-right: clamp(260px, 17.857vw, 300px);
      }
      @include laptop {
        margin-right: clamp(220px, 17.857vw, 300px);
      }
      @include small-laptop {
        margin-right: clamp(180px, 17.857vw, 300px);
      }
      @include tablet {
        margin-right: 0;
      }
      @include mobile {
        margin-right: 0;
      }
    }

    &-link {
      color: rgba(255, 244, 235, 0.8);
      font-family: "Satoshi Variable";
      font-weight: 700;
      font-size: 18px;
      text-transform: uppercase;
      display: flex;
      gap: 170px;

      @include small-laptop {
        gap: 13.281vw;
      }
      @include tablet {
        gap: 13.281vw;
      }
      @include mobile {
        flex-direction: column;
        gap: 40px;
      }


      li {
        padding-bottom: 34px;
      }

      li:last-child {
        padding-bottom: 0;
      }
    }

    .links-1,
    .links-2 {
      position: relative;
      padding-left: 52px;
    }

    .links-1::before,
    .links-2::before {
      content: '';
      position: absolute;
      left: 0;
      top: 0;
      width: 3px;
      height: 140px;
      background: #DB9F6A;
    }

    &-social-links {
      display: flex;
      gap: 32px;
      margin-left: auto;

      a {
        width: 32px;
        height: 32px;
      }

      @include tablet {
        margin-left: 0;
      }
      @include mobile {
        margin-left: 0;
      }
    }
  }


  &-info {
    display: flex;
    justify-content: space-between;
    padding-top: 96px;
    position: relative;
    padding-bottom: 52px;
    flex-direction: column;
    @include tablet {
      padding-bottom: clamp(26px, 5.078vw, 52px);
    }

    ul {
      color: rgba(255, 244, 235, 0.80);
      font-family: $Satoshi-font;
      font-size: 18px;
      font-style: normal;
      font-weight: 700;
      line-height: normal;
      letter-spacing: 1.44px;
      text-transform: uppercase;
      display: flex;
      gap: 52px;

      @include tablet {
        gap: clamp(32px, 5.078vw, 52px);
      }
    }

    p {
      color: rgba(255, 244, 235, 0.4);
      font-family: $Satoshi-font;
      font-weight: 700;
      font-size: 18px;
      text-transform: uppercase;

      @include tablet {
        padding-top: 32px;
        justify-content: end;
        display: flex;
      }
    }

    &::before {
      content: "";
      position: absolute;
      top: 60px;
      left: 0;
      right: 0;
      height: 1px;
      background: rgba(219, 159, 106, 0.20);
    }
  }
}